/*----------------------------------Media querries(980px)---------------------------*/

@media screen and (max-width:980px)
{
/*---------------Header----------------*/	
	.header{
		width: 100%;
		height: 85px;
	}
	.header nav ul li{
		font-size: 20px;
	
	}
	.header nav{
		margin-right: 60px;
	}
	.logo{
		font-size: 50px;
		margin-left: 150px;
	}

/*-------------Main------------------*/
	.container{
		width: 100%;
	}
	.main{
		width:380px;
		height: 600px;
	}
	.main{
		margin: 70px 0 0 150px;
	}

/*----------------Portfolio-----------*/
	.containerPortfolio{
		height: 1200px;
	}

	.mainPortfolio{
		width:415px;
		height: 1050px;
		margin: 70px 0 0 15%;
	}
	.mainPortfolio .mainLeft{ 
		margin:30px 0 0 0px;
	 }

.mainLeft .mainProj1{
 	margin-left: 50px;
 	padding-left:0;
 }
 .mainLeft .mainProj2{
 	margin:50px auto 0 50px;
 }
 .mainLeft .mainProj3{
 	margin:50px auto 0 50px;
 	padding-left: 0px;
 }
  .mainLeft .mainProj4{
 	margin:50px auto 0 50px;
 }

 .mainLeft .mainProj5{
 	margin:50px auto 0 50px;
 	padding-left: 0px;
 }

/*---------------MainContact----------------*/
	.mainContact{
		width:400px;
		height: 550px;
	}
	.mainContact{
		margin: 70px 0 0 150px;
	}
/*--------------Contact---------------*/
	.contactName{
		width: 320px;
	}
	.contactEmail{
		width: 320px;
	}
	.contactMessage{
		width: 320px;
	}
}

/*----------------------------------Media querries(768px)---------------------------*/

@media screen and (max-width: 768px){

/*---------------Header----------------*/	
	.header{
		width: 100%;
		height: 85px;
	}
	.header nav ul li{
		font-size: 20px;
	
	}
	.header nav{
		margin-right: 230px;
	}
	.logo{
		font-size: 50px;
		margin-left: 30px;
	}

/*-------------Main------------------*/
	.main{
		width:72%;
		height: 360px;
	}
	.main{
		margin: 70px 0 0 30px;
	}

	/*---------------side----------------*/
.side{
	float: left;
	margin: 70px 0 0 30px;
	width:690px;
}
.side h3{	
	text-align: left;
	border-bottom: none;
    width: 85%;
   	padding:20px 20px 0px 0px; 
   	margin:0 0 0 30px;
    border-radius: 2px;
}
.borderBottom{
	padding-top: 25px;
	border-bottom: 3px solid #cccccc;
}

/*----------------Portfolio-----------*/
	.containerPortfolio{
		height: 1100px;
	}
	.mainPortfolio{
		width:690px;
		height: 700px;
		margin: 70px 0 0 30px;
	}
	 .mainPortfolio .mainLeft{ 
	float:left;
	height:80%;
	width: 100%;
	margin:-25px 0 0 0;
 }

.mainLeft .mainProj1{
 	height: 130px;
 	width: 200px;
 	padding-left: 40px;
 	margin-right: 90px;
 	display: inline-block;
 	overflow: hidden;
 }

 .mainLeft .mainProj2{
 	height: 130px;
 	width: 200px;
 	display: inline-block;
 	margin:50px auto 0 40px;
 	overflow: hidden;
 }
 .mainLeft .mainProj3{
 	height: 130px;
 	width: 200px;
 	padding-left: 40px;
 	margin-right: 90px;
 	margin-top: 50px;
 	display: inline-block;
 	overflow: hidden;
 }
  .mainLeft .mainProj4{
 	height: 130px;
 	width: 200px;
 	display: inline-block;
 	margin:50px auto 0 40px;
 	overflow: hidden;
 }

 .mainLeft .mainProj5{
 	height: 130px;
 	width: 200px;
 	padding-left: 40px;
 	display: inline-block;
 	margin:50px auto 0 50px;
 	overflow: hidden;
 }

 .imgBar{
 	width: 200px;
 }

/*---------------MainContact----------------*/
		.mainContact{
			width:675px;
			height: 550px;
		}
		.mainContact{
			margin: 70px 0 0 30px;
		}
/*--------------Contact---------------*/
		.contactName{
			width: 540px;
		}
		.contactEmail{
			width: 540px;
		}
		.contactMessage{
			width: 540px;
		}
		.containerContact{
		height: 900px;
		min-height: 100%;
	}

}
/*---------------------Media querries(640px)-----------------------*/
@media screen and (max-width: 640px){
	
/*---------------Header----------------*/	
	.header{
		width: 100%;
		height: 85px;
		overflow: visible;
		position: absolute;
		top: 100px;
	}
	.header nav ul li{
		font-size: 20px;
		padding: 10px 40px 0 25px;
		flex: 0 auto;
		border:none;	
	}
	.header nav ul{
		display: flex;
		flex-direction: row;		
	}
	#last{
		padding-left: 50px;
	}
	
	.header nav{
		margin-right: 60px;
	}
	.logo{
		font-size: 50px;
		position: absolute;
		margin-left: 0;
		top: -100px;
		text-align: center;
		width: 100%;
	}
	/*-------------Main------------------*/
	.main{
		width:59%;
		height: 560px;
	}
	.main{
		margin: 200px 0 0 20px;
	}
	.main img{
		width: 490px;
		height: 200px;
	}
	.container{
		height: 1100px;
	}
	.main p{
		float: left;
		margin-left: 40px;
		width: 80%;
	}
	/*-------------Side------------------*/
	.side{
		width: 59%;
		margin-left: 20px;
	}
	/*-------------portfolio------------------*/
		.containerPortfolio{
			height: 2000px;
		}
		.mainPortfolio{
			width:585px;
			height: 1500px;
			margin: 210px 0 0 20px;
		}
		.mainPortfolio .mainLeft{ 
			height:500px;
			width:307px;
			margin:10px 0 0 10px;
		 }
		.mainLeft .mainProj1{
		 	margin:50px auto 0 40px;
		 	width: 400px;	
		 	height: 230px;
		 }

	 	.mainLeft .mainProj2{
		 	margin:50px auto 0 40px;
		 	padding-left: 40px;
		 	width: 400px;	
		 	height: 230px;
		 }
		  .mainLeft .mainProj3{
		 	margin:50px auto 0 40px;
		 	width: 400px;	
		 	height: 230px;
		 }
		  .mainLeft .mainProj4{
		 	margin:50px auto 0 40px;
		 	padding-left: 40px;
		 	width: 400px;	
		 	height: 230px;
		 }

		 .mainLeft .mainProj5{
		 	margin:50px auto 0 40px;
		 	padding-left: 40px;
		 	width: 400px;	
		 	height: 230px;
		 }	 
		 .imgBar{
		 	width: 400px;
		 	margin-top: 100px;
		 }

/*-------------------Contact------------*/
	.mainContact{
			width:550px;
			height: 550px;
			margin-top: 210px;
		}
	.contactName{
		width: 460px;
	}
	.contactEmail{
		width: 460px;
	}
	.contactMessage{
		width: 460px;
	}
	.containerContact{
		height: 1100px;
		min-height: 100%;
	}
	
}
